@model IEnumerable<teste_.Models.Cidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

  <p>  
        @Html.ActionLink("Novo", "Create")  
        @using (Html.BeginForm())  
        {  
            <p>Buscar Cidades: @Html.TextBox("Buscar_Cidades")<br />  
                <input type="submit" value="Search" />     
            </p>       
        }  
    </p> 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Dados</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
